.desktop-location-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop-location-desktop-location {
  width: 100%;
  height: 1346px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop-location-imagemap2x1 {
  top: 0px;
  left: 0px;
  width: 1462px;
  height: 609px;
  position: absolute;
}
 
.desktop-location-rectangle-copy {
  top: 41px;
  left: 103px;
  width: 56px;
  height: 65px;
  position: absolute;
}
 
.desktop-location-rectangle {
  top: 41.24983215332031px;
  left: 159px;
  width: 208px;
  height: 65px;
  position: absolute;
}
 
.desktop-location-text10 {
  top: 58px;
  left: 184px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Big Shoulders Display;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop-location-frame4 {
  top: 609px;
  left: 0px;
  width: 1462px;
  height: 436px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-almostblack);
}
 
.desktop-location-group7 {
  top: 66px;
  left: 99px;
  width: 1011px;
  height: 297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop-location-text11 {
  top: 52px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  text-align: left;
  line-height: 70px;
}
 
.desktop-location-text15 {
  top: 169px;
  left: 471px;
  color: var(--dl-color-default-white);
  width: 540px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 32px;
}
 
.desktop-location-text16 {
  left: 471px;
  color: var(--dl-color-default-gold);
  width: 350px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 36px;
}
 
.desktop-location-text17 {
  top: 51px;
  left: 471px;
  color: var(--dl-color-default-white);
  width: 445px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 32px;
}
 
.desktop-location-frame5 {
  top: 1045px;
  left: 0px;
  width: 1462px;
  height: 301px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-gold);
}
 
.desktop-location-iconfacebook {
  top: 86px;
  left: 1258px;
  width: 20px;
  height: 21px;
  position: absolute;
}
 
.desktop-location-vector1 {
  top: 59.860328674316406px;
  left: 1329.0137939453125px;
  width: 20px;
  height: 19px;
  position: absolute;
}
 
.desktop-location-vector2 {
  top: 62.72699737548828px;
  left: 1188.013916015625px;
  width: 20px;
  height: 19px;
  position: absolute;
}
 
.desktop-location-text23 {
  top: 79px;
  left: 566px;
  color: var(--dl-color-default-almostblack);
  width: 430px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Outfit;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop-location-text24 {
  top: 63px;
  left: 94px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  text-align: left;
  line-height: 60px;
}
 
.desktop-location-path2 {
  top: 90px;
  left: 135px;
  width: 8px;
  height: 24px;
  position: absolute;
}
 
.desktop-location-link {
  display: contents;
}
 
.desktop-location-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.desktop-location-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.desktop-location-text28 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
